<html>
<head>
  <title> {% block title %} {% endblock %} </title>
</head>
<body>
<a href="/"> Home </a> &nbsp; <a href="/students"> All Students </a> &nbsp; <a href="/student/add"> Add Student </a>
<hr>
{% block body %}
{% endblock %}
</body>
</html>